.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
} 

.title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0; 
}  

.card p {
    font-size: 0.9rem;
    margin: 0;
}

