.header{
   display: flex;
   flex-direction: column;
   justify-content: start; 
} 

.title{
    font-size: 0.4rem;
} 

.form{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1rem;
}  

.form label{
    font-size: .9rem;
    font-weight: bold;
}

.form input {
    padding: .7rem;
    border: 1px solid rgb(227, 233, 241);
    outline: none;
    border-radius: 4px;
} 

.form div {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.button {
    padding: .5rem;
    border: rgb(227, 233, 241);
    background-color: rgb(37, 99, 235);
    color: white;
    border-radius: 4px;
    font-weight: bold;
} 
